@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Primary Colors */
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    /* Neutral Color */
    --dark-gray: hsl(0, 0%, 59%);

    /* Fonts */
    --font: 'Kumbh Sans', sans-serif; 
    --font-p-size: 18px;
    --font-w-md: 400;
    --font-w-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---x--- Global ---x--- */
html,
body {
    font-family: var(--font);
}

h1,
h2,
h3,
h4 {
    font-weight: var(--font-w-bold);
}

p {
    font-weight: var(--font-w-md);
    line-height: 1.25rem;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}
/* ---x--- Global End ---x--- */


/* ---x--- Main Card ---x--- */
.container {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    /* display: grid;
    place-content: center; */
    background-color: var(--dark-cyan);
    padding: 0 1.75rem;
    position: relative;
    overflow: hidden;
}

.pattern-top,
.pattern-bottom {
    position: absolute;
    max-width: 700px;
    /* z-index: 0; */
}

.pattern-top {
    top: -35%;
    left: -50%;
    transform: rotate(80deg);
}

.pattern-bottom {
    bottom: -40%;
    right: -40%;
    transform: rotate(30deg);
}


.card {
    max-width: 300px;
    background-color: #fff;
    border-radius: 0.85rem;
    overflow: hidden;
    box-shadow: 0 15px 30px #00000046;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__pattern-img {
    display: grid;
    place-content: center;
}

.card__avatar {
    width: 5.75rem;
    height: 5.75rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    margin-top: -2.75rem;
    overflow: hidden;
    position: relative;
    border: 0.35rem solid #fff;
}

.card__profile {
    text-align: center;
    margin: 1.25rem 0;
}

.card__profile-name {
    color: hsl(229, 23%, 23%);
}

.card__profile-age {
    color: var(--dark-grayish-blue);
    margin-left: 0.25rem;
}

.card__profile-city {
    color: var(--dark-grayish-blue);
    font-size: 13px;
    padding-top: 0.25rem;
}

.card__followers {
    display: flex;
    align-items: center;
    border-top: 0.10rem solid hsla(0, 0%, 74%, 0.315);
    padding: 1.25rem;
}

.card__followers li {
    text-align: center;
    margin: 0 auto;
}

.card__followers li p {
    color: var(--dark-desaturated-blue);
    padding-bottom: 0.25rem;
    font-weight: 700;
}

.card__followers li span {
    color: var(--dark-gray);
    font-size: 12px;
}
/* ---x--- Main Card End ---x--- */


/* ---x--- Footer ---x--- */
.attribution {
    text-align: center;
    padding: 0.75rem;
    font-size: 15px;
    color: var(--dark-desaturated-blue);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

}
/* ---x--- Footer End ---x--- */


@media screen and (min-width:645px) {
    .pattern-top {
        left: -50%;
        top: -50%;
    }   

    .pattern-bottom {
        bottom: -60%;
        right: -40%;
    }
}


@media screen and (min-width: 790px) {
    .pattern-top {
        transform: rotate(30deg);
        left: -36%;
    }

    .pattern-bottom {
        right: -30%;
    }
}

@media screen and (min-width: 1100px) {
    .pattern-top, 
    .pattern-bottom {
        max-width: 100%;
    }
    .pattern-top {
        left: -50%;
        top: -120%;
        transform: rotate(2deg);
    }

    .pattern-bottom {
        bottom: -140%;
        right: -50%;
    }

}